body{
    margin: 0px;
}
#container-wrap{
    border: 2px solid #61c8ce;
    border-radius: 8px;
}
.mastheader{
    /*text-align: center;
    background-image: url("../images/header.png");
    background-size: 900px;
    background-repeat: no-repeat center;*/ 
    background: url("../images/header.png") no-repeat center;
    background-color: #fff;
    height: 165px;
}
#container{
    width: 90%;
    margin:0px auto; 
    text-align: center;
    font-family:Helvetica, "Arial", Times, serif;
    font-size: 3em;
    height:500px;
    border: 0px solid #0f0;
}
.title-container{
    margin-bottom: 15px;
}

.title-first{
    color: #0277BD;    
}

.title{
    color: #000;
}
.footer-container{
    margin:0px auto; 
    font-size: 0.6em;
    bottom: 20px;
    margin-top: 35px;
}
#container li{
    cursor: pointer;
}
#container li:hover{
    color: #fff;
    opacity: 0.4;
    background-color: #cfcfcf;
}
.day_wknd{
    color: #ed1c24;
}
.day_hol{
    color: #000;
    border-right: 3px solid #cfcfcf;
    border-left: 3px solid #cfcfcf;
    background-color: #cfcfcf;
}
.day_none{
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
    background-color: #fff; 
}
.day{
    background-color: #fff;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
}
.social_links{
    text-decoration: none;
}
.copy{
    
    padding-top: 10px;
    margin:0px auto; 
    padding-left: 100px;
    padding-right: 100px;
    font-family:Helvetica, "Arial", Times, serif;
    font-size: 1.5em;

    border: 0px solid #0ff;
    background: #61c8ce;
    color: #fff;
}
.div_holiday_listing{
    float: left;
}
.tbl_holiday_listing{
    margin-right: 100px;
    float:left;
    color: #F0F0F0;
    
}

div#month-view{
  /*margin:0px auto;*/
  padding:0px;
  float: left;
  width: 190px;
  height: 190px;
  font-family:Helvetica, "Arial", Times, serif;
  margin-right: 10px;
  margin-bottom: 50px;
}
 
div#month-view div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:40px;
    background-color:   #000000;      
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
 
div#month-view div.header{
    line-height:40px;  
    vertical-align:middle;
    position:absolute;
    left:11px;
    top:0px;
    width: 100%;
    height:40px;   
    text-align:center;
}
 
div#month-view div.header a.prev,div#month-view div.header a.next{ 
    position:absolute;
    top:0px;   
    height: 17px;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
}
 
div#month-view div.header span.title{
    color:#FFF;
    font-size:18px;
}
 
 
div#month-view div.header a.prev{
    left:0px;
}
 
div#month-view div.header a.next{
    right:0px;
}
 
 
 
 
/* per day */
div#month-view div.box-content{
    border:1px solid #000;
    border-top:none;
    height: 180px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
 
 
 
div#month-view ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
}
 
div#month-view ul.label li{
    margin:0px;
    padding:0px;
    margin-left:3px;  
    margin-right:3px;  
    float:left;
    list-style-type:none;
    width:20px;
    height:20px;
    line-height:20px;
    vertical-align:middle;
    text-align:center;
    color:#000;
    font-size: 10px;
    background-color: transparent;
}
 
 
div#month-view ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
 
/** overall width = width+padding-right**/
div#month-view ul.dates li{
    margin:0px;
    padding:0px;
    /*margin-right:5px;*/
    margin-top: 5px;
    line-height:20px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:20px;
    height:20px;
    font-size:12px;
    text-align:center; 
}
 
:focus{
    outline:none;
}
 
div.clear{
    clear:both;
}     
.quote{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.quote-img{
    height: 120px;
}
.megaquote{
    font-size: 70px;
    vertical-align: text-bottom;
}
.footer{
    color: #61c8ce;
    font-size: 20px;
    padding-top: 50px;
    font-family:Helvetica, "Arial", Times, serif;
    height: 100px;
}


