body{
    -webkit-print-color-adjust: exact;    
}
@page {
  size: landscape;
}
#container{
    width: 98%;
    padding-top: 100px;
    margin:0px auto; 
    text-align: center;
    font-family:Helvetica, "Arial", Times, serif;
    font-size: 2em;
}
.title-container{
    margin-bottom: 15px;
}

.title-first{
    color: #000;    
}

.title{
    color: #000;
}
.footer-container{
    margin:0px auto; 
    font-size: 0.6em;
    bottom: 20px;
    margin-top: 35px;
}
#container li{
    cursor: pointer;
}
#container li:hover{
    color: #fff;
    opacity: 0.4;
    background-color: #009688;
}
.day_hol{
    padding: 5px;
    color: #fff;
}
.day_none{
    background-color: #fff;
    
}
.day{
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
}
.social_links{
    text-decoration: none;
}
.copy{
    
    padding-top: 450px;
    margin:0px auto; 
    padding-left: 100px;
    padding-right: 100px;
    font-family:Helvetica, "Arial", Times, serif;
    font-size: 1.5em;
}
.div_holiday_listing{
    float: left;
    border:1px solid #cfcfcf;
}
.tbl_holiday_listing{
    margin-right: 50px;
    float:left;
}

div#month-view{
  /*margin:0px auto;*/
  padding:0px;
  float: left;
  width: 140px;
  height: 150px;
  font-family:Helvetica, "Arial", Times, serif;
  margin-right: 10px;
  margin-bottom: 25px;
}
 
div#month-view div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:30px;
    background-color:   #03A9F4;      
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
 
div#month-view div.header{
    line-height:40px;  
    vertical-align:middle;
    position:absolute;
    left:11px;
    top:0px;
    width: 100%;
    height:20px;   
    text-align:center;
}
 
div#month-view div.header a.prev,div#month-view div.header a.next{ 
    position:absolute;
    top:0px;   
    height: 17px;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#000;
}
 
div#month-view div.header span.title{
    color:#FFF;
    font-size:18px;
}
 
 
div#month-view div.header a.prev{
    left:0px;
}
 
div#month-view div.header a.next{
    right:0px;
}
 
 
 
 
/* per day */
div#month-view div.box-content{
    border:1px solid #03A9F4;
    border-top:none;
    height: 140px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
 
 
 
div#month-view ul.label{
    float:left;
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
}
 
div#month-view ul.label li{
    margin:0px;
    padding:0px;
    margin-left:3px;  
    margin-right:3px;  
    float:left;
    list-style-type:none;
    width:12px;
    height:10px;
    line-height:10px;
    vertical-align:middle;
    text-align:center;
    color:#0277BD;
    font-size: 7px;
    background-color: transparent;
}
 
 
div#month-view ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
 
/** overall width = width+padding-right**/
div#month-view ul.dates li{
    margin:0px;
    padding:0px;
    /*margin-right:5px;*/
    margin-top: 2px;
    line-height:10px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:10px;
    height:10px;
    font-size:12px;
    text-align:center; 
}
 
:focus{
    outline:none;
}
 
div.clear{
    clear:both;
}     

